[run]
omit = 
        *acquisition_nagios/bin/check_apollo_availability.py*
        *acquisition_nagios/bin/check_guralp_availability.py*
        *acquisition_nagios/bin/__init__.py*

        *acquisition_nagios/nagios/**

        *acquisition_nagios/data/**
        *acquisition_nagios/config.py*

        *acquisition_nagios/titansma/**
